// 程序图标
100 ICON "assets/icon.ico"

// 界面布局
1000 LAYOUT "assets/LAYOUT/main.winui"
1001 LAYOUT "assets/LAYOUT/toast.winui"
1002 LAYOUT "assets/LAYOUT/settings.winui"
1100 LAYOUT "assets/LAYOUT/menuGroup.winui"
1101 LAYOUT "assets/LAYOUT/menuItem.winui"
1102 LAYOUT "assets/LAYOUT/menuTree.winui"
1103 LAYOUT "assets/LAYOUT/menuPlugin.winui"
1104 LAYOUT "assets/LAYOUT/menuTray.winui"
1105 LAYOUT "assets/LAYOUT/menuTreeDisk.winui"
1106 LAYOUT "assets/LAYOUT/menuFile.winui"
1200 LAYOUT "assets/LAYOUT/pageProgram.winui"
1201 LAYOUT "assets/LAYOUT/pageSystem.winui"
1202 LAYOUT "assets/LAYOUT/pageTree.winui"
1203 LAYOUT "assets/LAYOUT/pagePlugin.winui"
1204 LAYOUT "assets/LAYOUT/pageFile.winui"

// 数据
1000 DATA "assets/DATA/about.data"
1001 DATA "assets/DATA/update.data"
1002 DATA "assets/DATA/version.data"
1003 DATA "assets/DATA/previewMap.data"
1004 DATA "assets/DATA/typeMap.data"
1005 DATA "assets/DATA/defaultSettings.data"

// 皮肤
1000 SKIN "assets/SKIN/Edit.ex"
1010 SKIN "assets/SKIN/Group.ex"
1020 SKIN "assets/SKIN/IconButton.ex"
1021 SKIN "assets/SKIN/IconButton2.ex"
1030 SKIN "assets/SKIN/Picture.ex"
1040 SKIN "assets/SKIN/SuperList.ex"
1041 SKIN "assets/SKIN/SuperList2.ex"
1050 SKIN "assets/SKIN/Menu.ex"
1060 SKIN "assets/SKIN/Button.ex"
1070 SKIN "assets/SKIN/Choice.ex"
1080 SKIN "assets/SKIN/Slider.ex"
1090 SKIN "assets/SKIN/ColorPick.ex"
1100 SKIN "assets/SKIN/IconList.ex"
1101 SKIN "assets/SKIN/IconList2.ex"
1110 SKIN "assets/SKIN/Progress.ex"

// 普通图片
100 R "assets/icon.ico"

1000 R "assets/R/search.png"
1001 R "assets/R/settings.png"
1002 R "assets/R/close.png"
1003 R "assets/R/info.png"

1100 R "assets/R/tab_start.png"
1101 R "assets/R/tab_tool.png"
1102 R "assets/R/tab_folder.png"
1103 R "assets/R/tab_plugin.png"
1104 R "assets/R/tab_file.png"

1200 R "assets/R/return.png"
1201 R "assets/R/newfolder.png"
1202 R "assets/R/desktop.png"

1300 R "assets/R/choice_off.png"
1301 R "assets/R/choice_on.png"

1400 R "assets/R/drive0.png"
1401 R "assets/R/drive1.png"
1402 R "assets/R/drive2.png"
1403 R "assets/R/drive3.png"
1404 R "assets/R/drive4.png"
1405 R "assets/R/drive5.png"
1406 R "assets/R/drive6.png"

// 文件图标
1000 FICO "assets/FICO/unknown.ico"
1001 FICO "assets/FICO/file.ico"
1002 FICO "assets/FICO/folder.ico"
1003 FICO "assets/FICO/compress.ico"
1004 FICO "assets/FICO/txt.ico"
1005 FICO "assets/FICO/word.ico"
1006 FICO "assets/FICO/excel.ico"
1007 FICO "assets/FICO/ppt.ico"
1008 FICO "assets/FICO/pdf.ico"
1009 FICO "assets/FICO/picture.ico"
1010 FICO "assets/FICO/music.ico"
1011 FICO "assets/FICO/video.ico"
1012 FICO "assets/FICO/webpage.ico"
1013 FICO "assets/FICO/xml.ico"
1014 FICO "assets/FICO/apk.ico"

// 菜单图标
1000 MICO "assets/MICO/admin.ico"
1001 MICO "assets/MICO/delete.ico"
1002 MICO "assets/MICO/edit.ico"
1003 MICO "assets/MICO/exit.ico"
1004 MICO "assets/MICO/folder.ico"
1005 MICO "assets/MICO/path.ico"
1006 MICO "assets/MICO/able.ico"
1007 MICO "assets/MICO/disable.ico"
1008 MICO "assets/MICO/move.ico"
1009 MICO "assets/MICO/copy.ico"
1010 MICO "assets/MICO/cut.ico"
1011 MICO "assets/MICO/paste.ico"
1012 MICO "assets/MICO/property.ico"
1013 MICO "assets/MICO/left.ico"
1014 MICO "assets/MICO/right.ico"
1015 MICO "assets/MICO/rename.ico"
1016 MICO "assets/MICO/preview.ico"
1017 MICO "assets/MICO/save.ico"

// 系统图标
1000 SICO "assets/SICO/recyclebin_full.ico"
1001 SICO "assets/SICO/computer.ico"
1002 SICO "assets/SICO/document.ico"
1003 SICO "assets/SICO/recyclebin.ico"
1004 SICO "assets/SICO/control.ico"
1005 SICO "assets/SICO/cmd.ico"
1006 SICO "assets/SICO/powershell.ico"
1007 SICO "assets/SICO/taskmgr.ico"
1008 SICO "assets/SICO/calculator.ico"
1009 SICO "assets/SICO/notepad.ico"
1010 SICO "assets/SICO/printer.ico"
1011 SICO "assets/SICO/regedit.ico"
1012 SICO "assets/SICO/scanner.ico"
1013 SICO "assets/SICO/manager.ico"
1014 SICO "assets/SICO/services.ico"
1015 SICO "assets/SICO/security.ico"
1016 SICO "assets/SICO/strategy.ico"